/Distant_Horizons_server_data
/XaeroWaypoints*
/XaeroWorldMap*
/crash-reports
/debug
/downloads
/everbook
/localconfigs
/logs
/resourcepacks
/saves
/screenshots
/trees
/versions
/*.dat
/*.json
/*.lnk
/*.nbt
/*.png
/*.toml
/*.txt
.curseclient
.qmenu_opened.marker
o_prof